body {
    font-family: Arial, sans-serif;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgb(244, 128, 157) 17.1%, rgb(253, 234, 124) 89.7% );
    margin: 0;
    padding: 15px;
    width: 300px;
    color: #000000;
}

h1 {
    font-size: 25px;
    color: #6b2cff;
    position: relative;
    top: 7vh;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2 {
    font-size: 1.4em;
    position: relative;
    top: 2vh;
    color: #6b2cff;
    margin-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
img {
    position: fixed;
    left: calc(100% - 185px); /* Adjusts to be on the right edge of the container */
    top: 10px; /* Keeps it at the top */
    width: 40px; /* Adjust size as needed */
    height: 40px; /* Adjust size as needed */
    margin: 0;
}

#moodChecker {
    margin-bottom: 20px;
}

#moodChecker select, #moodChecker button {
    width: 100%;
    padding: 8px;
    margin-top: 8px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 2px solid #6b2cff;
    font-size: 1em;
}

#affirmation p {
    font-style: italic;
    font-family: fantasy;
    font-size: 15px;
    text-align: center;
    padding: 10px;
    background-color: #a4fff6;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


#moodHistory {
    margin-top: 20px;
    max-height: 150px; /* Set max height */
    overflow-y: auto;  /* Enable vertical scrolling */
    border-top: 2px solid #6b2cff;
    padding-top: 10px;
}

#moodHistory ul {
    list-style-type: none;
    padding: 0;
}

#moodHistory li {
    padding: 5px 0;
    font-size: 0.9em;
    color: #555;
    border-bottom: 2px solid #6b2cff;
}

.hidden {
    display: none;
}
#mood{
font-family:Georgia, 'Times New Roman', Times, serif;
font-weight: bold;
}
#saveMood{
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
}
#viewHistory{
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
}
#saveMood:hover{
    background-color: #fcb502;
}
#viewHistory:hover{
    background-color: #fc6a02;
}
#mood:hover{
background-color: #f1e16a;
}
#clearHistory{
    padding: 8px;
    margin-top: 8px;
    border-radius: 10px;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
   border: 2px solid #6b2cff;
    font-size: 1em;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
}

#clearHistory:hover{
background-color: rgb(92, 172, 185);
}
select{
    position:static;
}
