body {
    font-family: Arial, sans-serif;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgb(244, 128, 157) 17.1%, rgb(253, 234, 124) 89.7% );
    margin: 0;
    padding: 15px;
    width: 300px;
    color: #000000;
}

h1 {
    font-size: 25px;
    color: #6b2cff;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2 {
    font-size: 1.4em;
    color: #6b2cff;
    margin-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
img{
    position: relative;
    left:30vh;
    top:0vh;
    margin: 0 auto;
}

#moodChecker {
    margin-bottom: 20px;
}

#moodChecker select, #moodChecker button {
    width: 100%;
    padding: 8px;
    margin-top: 8px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 2px solid #6b2cff;
    font-size: 1em;
}

#affirmation p {
    font-style: italic;
    font-family: fantasy;
    font-size: 15px;
    text-align: center;
    padding: 10px;
    background-color: #a4fff6;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


#moodHistory {
    margin-top: 20px;
    max-height: 150px; /* Set max height */
    overflow-y: auto;  /* Enable vertical scrolling */
    border-top: 2px solid #6b2cff;
    padding-top: 10px;
}

#moodHistory ul {
    list-style-type: none;
    padding: 0;
}

#moodHistory li {
    padding: 5px 0;
    font-size: 0.9em;
    color: #555;
    border-bottom: 2px solid #6b2cff;
}

.hidden {
    display: none;
}
#mood{
font-family:Georgia, 'Times New Roman', Times, serif;
font-weight: bold;
}
#saveMood{
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
}
#viewHistory{
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
}
#saveMood:hover{
    background-color: #fcb502;
}
#viewHistory:hover{
    background-color: #fc6a02;
}
#mood:hover{
background-color: #f1e16a;
}

